#config{
	margin-left:auto;
	margin-right:auto;
	width:280px;
	height:352px;
	}
#text{
	margin-left:auto;
	margin-right:auto;
	width:280px;
	height:373px;
	}
#apps{
	margin-left:auto;
	margin-right:auto;
	width:280px;
	height:373px;
	overflow:scroll;
	}
#apps .icons{max-height:75px;}	
#apps ul{margin:0;padding:0; }
#apps li{list-style-type: none;  margin-top:5px; margin-left:0px; height:100px; padding:0; }
#apps a{text-decoration:none;color:black;}
#apps img{vertical-align:middle; line-height: 2em}

	
.address{
	width:25px;
	}
.maddress{
	width:115px;
	}

	
.nav{
	cursor:pointer;
	color:gray;
	}	
.nav img{
	opacity:0.5;
}
.active img{
	opacity:1 !important;	
}
.active{
	color:white !important;
	}
.link{
	cursor:pointer;
	}

img{
	padding:0px;
	margin:0px;
	border-width: 0px;
	float:left;
	-webkit-touch-callout:none;
}

body
{
	border-width: 0px;
	background-color:#000000;
	color:#FFFFFF;
	border:0;
	padding:0;
	margin:0;
}

td,tr{
	border-width: 0px;
	padding: 0px;
	border-style: none;
	border-collapse: collapse;
	background-color: rgb(0, 0, 0);

}

	
table{
	border-width: 0px;
	border-spacing:0px ;
	border-style: none;
	background-color: rgb(0, 0, 0);
	display:table;
	margin-left:auto; 
	margin-right:auto;
}

#remote{height:373px;}


#navtable{
	margin-top:0
    border-width: 0px;
	border-spacing:0px ;
	border-style: none;
	font-size:8pt;
	font-weight:bold;
	width:280px;
	}

#navtable div{
text-align:center;	
margin:0;
}